@charset "utf-8";
/* CSS Document */
body { font-family:'宋体',Arial, Helvetica, sans-serif; font-size:12px;  margin:0; padding:0;}
ul,ol,li { padding:0; margin:0; list-style:none}
a,div,font,table,tr,td,input,p { font-size:12px; font-family:'宋体',Arial, Helvetica, sans-serif; color:#666;}
a { color:#666; font-size:12px; font-weight:normal; text-decoration:none;}
a:hover { color:#e20b06; text-decoration:underline;}
img { border:none}
form,p { padding:0; margin:0;}
.font_croci { font-weight:bold; color:#4b913f; font-family:Arial, Helvetica, sans-serif}
.font_red { color:#CC0000; font-weight:bold}



#top { height:78px; background:url(../img/top_bg.png) repeat-x;}
#top .logo { float:left; width:280px; height:78px; background:url(../img/logo.png) no-repeat;}
#top .welcome { float:right; padding-right:15px; padding-top:30px;}

#left { width:176px; background:url(../img/left_bg.jpg) repeat-y; padding:8px;}
.nav_title { background:url(../img/nav_top_bg.png) no-repeat; width:165px; height:30px;  padding-left:10px;}
.nav_word { float:left;font-weight:bold; color:#fff; font-size:14px; line-height:30px;}
.nav_jt { float:right;}
.nav ul li { width:165px; height:28px; background:url(../img/nav_bg.jpg) no-repeat; line-height:28px; border-bottom:1px solid #ccc; padding-left:10px;}
.nav ul li a:hover { text-decoration:none}
.nav ul li.noneb { border:none}

#bottom { height:53px; background:url(../img/bottom_bg.jpg) repeat-x;}
.bot_word { text-align:center; line-height:53px;}

#main { padding:10px; padding-left:0;}
.main_title { height:35px; background:url(../img/main_title_bg.png) repeat-x; color:#fff; font-size:14px; font-weight:bold; line-height:35px;}
.main_title_l { float:left; width:35px; background:url(../img/main_title_bgl.png) no-repeat; height:35px;}
.main_title_r { float:right; width:auto; _width:10px; min-width:10px; height:32px; background:url(../img/main_title_bgr.png) no-repeat right; padding-right:10px; padding-top:3px; font-size:12px; font-weight:normal;}
/*.btn { width:74px; height:27px; background:url(../img/menu.gif) no-repeat; border:none; text-align:center}*/
.main_table { margin-top:10px;}
.tab_content { border:1px solid #ccc; border-collapse:collapse}
.tab_content td,th { border:1px solid #ccc; text-align:center;}
.tab_content td { padding-top:3px; padding-bottom:3px; line-height:20px; padding-left:5px; padding-right:5px;}
.tab_content td.leftalign { text-align:left; padding-left:5px;}
.tab_content td.lefttitle { font-weight:bold; background:#f6f6f6; text-align:right; padding-right:10px;}
.tab_content th { background:url(../img/tab_topbg.jpg) repeat-x; height:32px; font-size:14px; }
.tab_content tr.evenline { background:#f6f6f6;}
.main_top_search { border:1px solid #d5c6c6; padding:5px 10px; margin-bottom:10px; background:#f6eeee;}

#bd_login { background:#ecebeb;}
.loginbox { margin:0 auto; width:384px; height:100px; margin-top:50px;}
.login_logo {/*  background:url(../img/logo_login.jpg) no-repeat center; */ height:45px; width:384px; margin-bottom:30px;}
.login_contop { background:url(../img/login_topbg.jpg) no-repeat; width:384px; height:18px;}
.login_conmid { background:url(../img/login_midbg.jpg) repeat-y; width:384px;}
.login_conbot { background:url(../img/login_botbg.jpg) no-repeat; width:384px; height:19px;}
.login_title { font-size:16px; color:#000; font-weight:bold; border-bottom:2px solid #4b913f; margin-left:30px; margin-right:30px; padding-top:20px; padding-bottom:6px;}
.logon_con01{ padding-left:60px; font-size:14px; font-weight:bold; color:#666; margin-top:30px; margin-bottom:18px;}
.logon_con02{ padding-left:60px; font-size:14px; font-weight:bold; color:#666; margin-bottom:18px;}
.logon_con03{ padding-left:60px; font-size:14px; font-weight:bold; color:#666;}
.input_enter { border:1px solid #ccc; background:#fff; height:25px; width:200px;}
.input_enter2 { border:1px solid #ccc; background:#fff; height:25px; width:110px;}
.menu_login { width:75px; height:34px; background:url(../img/menu_login.png) no-repeat; font-size:14px; font-weight:bold; color:#fff; border:none}
.login_btn { margin-left:155px; padding-bottom:30px;}
.login_foot { color:#999; text-align:center; margin-top:30px;}
.note {margin-left:240px;margin-bottom:18px;}
#tr_table td input{ width: 99%;}
#tr_table td select{ width: 99%;}
#code {  height:25px; width:80px; font-family:Arial; font-style:italic; font-weight:bold; font-size:18px; border:0; letter-spacing:2px; color:blue; }





/*
 * loading
 */
#loading{
	background-color: #db5800;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 20px;
	width: 100px;
	margin-top: -10px;
	margin-left: -50px;

}
.object{
	width: 20px;
	height: 20px;
	background-color: #FFF;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;
	position: absolute;	
}


#object_one{
	-webkit-animation: object 2s linear infinite;
	 animation: object 2s linear infinite;
	 }
#object_two{ 
	-webkit-animation: object 2s linear infinite -.4s;
	animation: object 2s linear infinite -.4s;
	 }
#object_three{ 
	-webkit-animation: object 2s linear infinite -.8s; 
	animation: object 2s linear infinite -.8s; 
	}
#object_four{ 
	-webkit-animation: object 2s linear infinite -1.2s;
	animation: object 2s linear infinite -1.2s; 
	} 
#object_five{ 
	-webkit-animation: object 2s linear infinite -1.6s; 
	animation: object 2s linear infinite -1.6s; 
	}
	
	
@-webkit-keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }		
	
}		
@keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}

/**
 * table help
 */
.tab_content tr.active{
	background-color: #F5F5F5;
}

.tab_content tr.selectActive{
	background-color: #EBEBEB;
}

.tempMsg{
	position: absolute;
	top: 61.8%;
	text-align: center;
	left: 50%;
	border-radius:5px;
	background-color: #000000;
	padding-left: 4px;
	padding-right: 4px;
	color: #FFFFFF;
	opacity: 0.8px;
}